[submodule "git/willgit"]
	path = git/willgit
	url = git://github.com/smtlaissezfaire/willgit.git
[submodule "perldoc-complete"]
	path = perldoc-complete
	url = git://github.com/yanick/perldoc-complete.git
[submodule "mempeek"]
	path = mempeek
	url = git://gist.github.com/326881.git
[submodule "zencoding-vim"]
	path = vim-plugins/zencoding-vim
	url = git://github.com/yanick/zencoding-vim.git
[submodule "cpantest2rt"]
	path = cpantest2rt
	url = git://gist.github.com/657197.git
[submodule "snipmate.vim"]
	path = snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim-plugins/vim-pathogen"]
	path = vim-plugins/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim-plugins/vim-perl"]
	path = vim-plugins/vim-perl
	url = git://github.com/yanick/vim-perl.git
[submodule "vim-plugins/vim-colors-solarized"]
	path = vim-plugins/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
