[submodule "git/willgit"]
	path = git/willgit
	url = git://github.com/smtlaissezfaire/willgit.git
[submodule "perldoc-complete"]
	path = perldoc-complete
	url = git://github.com/yanick/perldoc-complete.git
[submodule "mempeek"]
	path = mempeek
	url = git://gist.github.com/326881.git
[submodule "zencoding-vim"]
	path = zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "cpantest2rt"]
	path = cpantest2rt
	url = git://gist.github.com/657197.git
[submodule "snipmate.vim"]
	path = snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
